* {
    margin: 0;
    padding: 0;
}

.registering {
    margin-left: 18%;
    /* height: 80vh; */
    width: 84%;
    /* margin-top: 10.5%; */
    color: rgb(0, 0, 0);
    /* position: fixed; */
    /* background-color: aqua; */
}

.registering h1 {
    padding-top: 10px;
    font-size: large;
    text-align: center;
    font-weight: 400;

}

.registering form {
    /* background-color: blue; */
    /* padding: 20px; */
    margin-left: 150px;
}

.registering button {
    float: right;
    color: black;
    background-color: grey;
    /* height: 5.5vh; */
    border: none;
    width: 130px;
    border-radius: 10px;
    margin-right: 300px;

}
@media(max-width:1024px){
    .registering button {
        margin-right: 220px;
        
    }
}

@media (max-width:912px) {
    .registering button {
        margin-right: 190px;
        
    }
}
@media (max-width:820px) {
    .registering button {
        margin-right: 150px;
        
    }
}
@media(max-width:700px){
    .menuSection{
        display: none;
    }
    
.registering {
    margin-left: 0px;
    height: 80vh;
    width: 100%;
    /* color: black; */
    /* position:absolute; */
    /* background-color: aqua; */
}
}