*{
    margin: 0;
    padding: 0;
}
.registering{
    margin-left: 18%;
    height: 80vh;
    width: 84%;
    color: black;
    position: fixed;
    /* background-color: aqua; */
}
    .registering h1{
        font-size: large;
        margin-top: 3.7%;
        text-align: center;
        font-weight: 400;
       
    }
   .registering form{
       /* background-color: blue; */
       /* padding: 20px; */
       margin-left: 150px;
   }

    .registering button{
        float: right;
        color: black;
        background-color: grey ;
        height: 5.5vh;
        border:none;
        width: 130px;
        border-radius: 10px;
        margin-right: 300px;
        
    }