
.photo{
    height: 40vh;
    object-fit:contain;
    /* width: 60%; */
}
.content{
    width: 300px;
    color: black;
    background-color: aquamarine;
}
.Cart-container{
    padding:50px;
    display: flex;
}
.carousel{
    width:500px;
    padding-right: 15%;
}
.descrip{
    width: 60%;
    /* background-color: white; */
}
.button{
    color: black;
    background-color:  grey ;
    height: 5.5vh;
    border:none;
    width: 130px;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 20%;
}
.button a{
    color: black;
}
@media(max-width:600px){
.carousel{
    width: 295px;
    padding-right: 0px;
}
.Cart-container{
    padding: 5px;
    display: grid;
    grid-template-columns: (1,1fr);
}
.descrip{
    width: 90%;
    /* background-color: white; */
}
}
@media(max-width:280px){
    .carousel{
        width: 200px;
        padding-right: 0px;
    }
}