* {
  margin: 0;
  padding: 0;
}


.intro {
  padding: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.intro p {
  text-align: justify;
  margin-top: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
  text-align: center;
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.best-sellers{
  display: flex;
  flex-wrap: wrap;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* height: 70vh; */
}
.carousel{ 
  /* position: relative; */
  display: flex;
  justify-content: "center";
  align-items: "center";
  /* gap: 85px; */
  /* background-color: red; */
  /* height: 40vh; */
}
.slide{
  width: 100%;
}

.container {

  /* padding: 30px; */
  width: 25%;
  /* background-color: rgb(177, 17, 115); */
  /* color: red; */
  margin-left: 90px;
  margin-top: 10px;

}
.description{
  /* margin-top: 110px; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}












.anime {
  height: "89vh";
  width: "100%";
  object-fit: cover;
}

@media(max-width:1256px){
  .container {
    margin-left: 65px;
  
  }
}
@media (max-width:1024px) {
  .container {
    width: 45%;
    margin-left: 20px;
  
  }
}
@media(max-width:912px){
  .intro {
    padding: 25px;
  }
  .best-sellers {
    gap: 20px;

  }

  .container {
    width: 45%;
    margin-left: 20px;
  }
  .image {
  
    height: 35vh;
    
  }
}
@media(max-width:670px) {
  .intro {
    padding: 25px;
  }

  .best-sellers {
    gap: 0px;

  }

  .container {
    width: 100%;
    margin-left: 10px;
  }
  .image {
  
    height: 35vh;
    
  }

}
@media (max-width:280px){
  .carousel-container {
    width: 230px;
  }
  .container {
    width: 60%;
    margin-left: 0px;
  }
}
  
