*{
    margin: 0;
    padding: 0;
}
.upperSection{
    width: 90%;
    background-color: rgba(229, 229, 229, 1);
    /* height: 50vh; */
    margin: 3% 5.5%;
    height: 53vh;
    display: flex;
    justify-content:space-between;

    
}

.pic img{
    width: 100%;
    height: 100%;
    float: right;
    /* margin-left:74%; */
}
.words {
    width: 50%;
    padding: 70px;
    /* background-color: chartreuse; */
}
.words h1{
    font-size: x-larger;
    text-align: center;
}
.words p{
    text-align: center;
    font-size: larger;
    margin-top: 10px;
}
.lowerSection{

    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.firstDiv{
    width: 43%;
    text-align:left;
    padding: 20px;
     box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.589);
    
}
.firstDiv h1{
    text-align: center;
    font-size: large;
}


@media(max-width:1105px){
    .firstDiv p{
        text-align: justify;
    }
    .firstDiv{
        padding: 0px;
        width: 41%;
        
    }
    .words {
        width: 50%;
        padding: 20px;
        /* background-color: chartreuse; */
    }
    .words h1{
        font-size: 18px;
        /* text-align: center; */
    }
    .words p{
        text-align: center;
        font-size: large;
        margin-top: 10px;
    }
}
@media(max-width:912px){
    .upperSection{
        height: 23vh;
    }
}
@media(max-width:550px){
    .lowerSection{
      
        display: grid;
        grid-template-columns: repeat(1,1fr);
       text-align: center;
    }
    .firstDiv{
        padding: 8px;
        width: 100%;
        
    }  
    .firstDiv p{
        text-align: justify;
    }
    .upperSection{
        height: 25vh;
    }
    .words {
        width: 50%;
        padding: 20px;
        /* background-color: chartreuse; */
    }
    .words h1{
        font-size: small;
        /* text-align: center; */
    }
    .words p{
        text-align: center;
        font-size: smaller;
        margin-top: 10px;
    }
    .artisan h1{
        text-align: center;
        font-size: larger;
        font-weight: 600;
    }
}