.footerContainer{
    /* margin-top: 40px; */
    /* height: 30vh; */
    width: 100%;
    background-color: grey;
}

.social{
    /* margin-left: 562px; */
    padding-bottom: 3px;
    /* background-color: blue; */
    display: flex;
    gap:13px;
    justify-content: center;
}

.social a{
color: black;
    margin-top: 14px;
    font-size: 23.5px;
    text-align: center;
    padding: 8px;
    border: 1.1px solid black;
    padding: 2px;
    border-radius: 50%;
    width: 45px;
    
}

.stayConnected h1{
    font-size: 16px;
    font-weight: 350;
    color: black;
    text-align: center;
}
.stayConnected a{
    color: black;   
}
.navbarList{
    /* background-color: rgb(230, 17, 17) ; */
    padding: 30px;
    display: flex;
    justify-content: center;

}
.navbarList a{
    float:inline-start;
    padding: 27px;
    color: black;
    border: 1.3px solid black;
    padding: 6px 15px;
    border-radius: 50px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    margin-left: 5px;
    /* font-size: 15px; */
}

@media (max-width:612px){
    .navbarList {
        padding: 18px;
        
    }
    .navbarList a{
        padding: 10px;
    }
    .stayConnected h1{
        font-size: 15px;
        font-weight: 350;
        
    }
    .social a{
        font-size: 18px;
        padding: 5px;
        
    }
    
}

@media(max-width:414px) {
    .navbarList {
        padding: 12px;
        
    }
    .navbarList a{
        padding: 5px;
    }
    .stayConnected h1{
        font-size: 15px;
        font-weight: 350;
        
    }
    .social a{
        font-size: 18px;
        padding: 5px;
        
    }

    }
    @media(max-width:340px) {
        .navbarList {
            /* padding: 12px; */
            display: grid;
        grid-template-columns: repeat(2,1fr);
    
        }
        .navbarList a{
            padding: 2px;
            text-align: center;
        }
        
    
        }
  
  