.footerContainer{
    /* margin-top: 40px; */
    /* height: 30vh; */
    width: 100%;
}

.social{
    /* margin-left: 562px; */
    padding: 15px;
    background-color: white;
    box-shadow: rgba(128, 128, 128, 0.534) 1px 0px 3px;
    display: flex;
    gap:13px;
    justify-content: center;
}

.social a{
    margin-top: 20px;
    font-size: 22.5px;
    text-align: center;
    width: 33px;
    
}

.stayConnected a{
    color: black;   
}
.navbarList{
    background-color: black ;
    display: flex;
     padding: 5px;
    /* justify-content: center; */

}
.navbarList a{
    margin-left: 35px;
    color:white;
    text-decoration: none;
    /* padding: 6px 15px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    /* font-size: 15px; */
}
.no-bullets li{
    margin-top: 5px;
    list-style: none;
    color: white;
}
.bullets{
    display: flex;
}
.bullets li{
    color: white;
    list-style: none;
    margin-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    
}
.flex{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 35px;
}


.lago img {
    /* height: 5vh; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    

}
.more{
    cursor: pointer;
    color: white;
    text-decoration: underline;
}
.more:hover{
   
    color: rgb(0, 110, 255);
}

@media (max-width:612px){
    .navbarList {
        padding: 18px;
        
    }
    .navbarList a{
        padding: 10px;
    }
    .stayConnected h1{
        font-size: 15px;
        font-weight: 350;
        
    }
    .social a{
        font-size: 18px;
        padding: 5px;
        
    }
    
}

@media(max-width:414px) {
    .navbarList {
        padding: 12px;
        
    }
    .navbarList a{
        padding: 5px;
    }
    .stayConnected h1{
        font-size: 15px;
        font-weight: 350;
        
    }
    .social a{
        font-size: 18px;
        padding: 5px;
        
    }

    }
    @media(max-width:340px) {
        .navbarList {
            /* padding: 12px; */
            display: grid;
        grid-template-columns: repeat(2,1fr);
    
        }
        .navbarList a{
            padding: 2px;
            text-align: center;
        }
        
    
        }
  
  