.footerContainer{
    margin-top: 40px;
    height: 30vh;
    width: 100%;
}
.stayConnected{
    background-color: grey;
}
.social{
    margin-left: 562px;
    padding-bottom: 3px;
}
.circle{
    margin-top: 8px;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-left: 13px;
    padding: 0.5px;
    }
.social a{
    font-size: 23.5px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

.stayConnected h1{
    font-size: 18px;
    font-weight: 350;
    color: black;
    text-align: center;
}
.stayConnected a{
    color: black;   
}
.navbarList{
    margin-top: 1.35px;
    background-color: gray ;
    padding: 47px;
    
}
.navbarList a{
    float:inline-start;
    padding: 27px;
    color: black;
    text-decoration: none;
    font-size: 15px;
}